/* Main Styles */
* {
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #333;
    font-family: 'Raleway', sans-serif;
}
main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;   
    flex-direction: column;  
}
/* Header Styles */
header {
    color: #333;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white; 
}
.score-container {
    display: flex;
    width: 60%;
    font-size: 18px;
    margin: 10px;
    color: white;
    justify-content: space-evenly;
    font-size: 24px;
}
h1 {
    font-size: 40px;
    padding: 10px;
    border: 5px solid #fff;
    border-radius: 5px;
    font-weight: 400;
    
}
h2 {
    color: #fff;
    padding: 15px;
    font-size: 32px;
    margin: 10px;
    font-weight: 400;
}

/* Button Styles */
button {
    margin: 20px;
    width: 175px;
    height: 175px;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(245, 230, 99);
    border: 10px solid rgba(136, 136, 136, .5);
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    color: #333;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
.accents {
    display: flex;
    margin-top: -75px;
    justify-content: space-evenly;
    width: 90%;
}
.accents-bottom {
    display: flex;
    margin-bottom: -75px;
    justify-content: space-evenly;
    width: 90%;
}

.circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 3px solid #fff;
}


.click {
    background-color: #ffb6c1;
}
.swipe {
    background-color: rgb(243, 192, 23);
}
.start {
    background-color: #fff;
    width: 200px;
    height: 200px;
    font-size: 24px;
}
.drag {
    background-color: #87cefa;
    user-select: none;
}
.space {
    background-color: #90ee90;
}
.on {
    background-color: gray;
    opacity: .9;
}
button:hover {
    cursor: pointer;
    border-width: 20px;
  }
button:focus {outline:0;}

.button-container {
      display: flex;
      align-items: center;
      justify-content: center;
  }
.middle-buttons {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-buttons {
    display: flex;
    /* background-color: purple; */
    justify-content: center;
    align-items: center;
    
}
.top-buttons {
    display: flex;
    /* background-color: pink; */
    justify-content: center;
    align-items: center;
}