/* Main Styles */
body {
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #333;
    font-family: 'Oswald', sans-serif;
}
main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;   
    flex-direction: column;  
}
/* Header Styles */
header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.score-container {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    font-size: 18px;

}
h1 {
    font-size: 40px;
    background-color: green;
}
h2 {
    background-color: purple;
}

/* Button Styles */
button {
   margin: 20px;
    width: 175px;
    height: 175px;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(245, 230, 99);
    border: 10px solid rgba(136, 136, 136, .5);
    border-radius: 50%;
    touch-action: none;
    user-select: none;
}
.click {
    background-color: #ffb6c1;
}
.swipe {
    background-color: rgb(243, 192, 23);
}
.start {
    background-color: black;
    color: white;
    width: 200px;
    height: 200px;
}
.drag {
    background-color: #87cefa;
    user-select: none;
}
.space {
    background-color: #90ee90;
}
.on {
    background-color: gray;
    opacity: .9;
}
button:hover {
    cursor: pointer;
    border-width: 20px;
  }
.button-container {
      display: flex;
      align-items: center;
  }
.middle-buttons {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-buttons {
    display: flex;
    /* background-color: purple; */
    justify-content: center;
    align-items: center;
    
}
.top-buttons {
    display: flex;
    /* background-color: pink; */
    justify-content: center;
    align-items: center;
}